@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
    background:#ebebeb;
}
ul {
    padding:0 0 0 0;
    margin:0 0 40px 0;
}
ul li {
    list-style:none;
    margin-bottom:10px;
}

.text {
    color:#666;
    font-size:11px;
    margin-bottom:10px;
    padding:12px;
    background:#fff;
}

.head{
    display: block;
    text-align:center;
    border-bottom:1px dashed #ccc;
    padding:0 0 20px 0;
    margin-bottom:40px;
}
.head h3{
    text-align: center;
    font-family:'Bree Serif', arial;
    font-weight:bold; font-size:30px;
}

img{
   width: 100%;
}

.container{
    margin-top: 1rem;
}

/* Nueva Foto */

#modal {
    z-index:100;
    height:400px;
    background: white;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    text-align: center;
    padding-top: 1rem;
}

button, .button {
    position: relative;
    margin: 10px;
 }
input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.hide {
    display: none;
}

